.splash {
  background-image: url('/public/house.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem 0 20rem 0;
}

.input-container {
  display: flex;
  justify-content: center;
}

.input-box {
  width: 425px;
}

.home-card {
  margin-top: 100px;
  max-width: 26rem;
  transition: transform .2s;
}

.home-card:hover {
  transform: scale(1.02);
}

.home-card-column, #filter-warning-container {
  display: flex;
  justify-content: center;
}

.form-input {
  width: 400px;
  display: inline-block;
}

#home-search-button {
  height: 100%;
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.presentation-row {
  position: relative;
  z-index: 1;
}

.options-container {
  background-color: white;
}

#buy-page-searchbox {
  margin-left: .5rem;
}

#buy-page-search-button {
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  margin: 0 !important; 
}

.align-filter-dropdowns {
  display: inline;
}

.price-filter-dropdown-container {
  display: flex;
}

.property-image-container {
  padding: 0;
  margin: 0;
}

.apply-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.apply-button {
  width: 96.5%;
}

#sale-property-marker {
  height: 15px;
  width: 15px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
}

#rental-property-marker {
  height: 15px;
  width: 15px;
  background-color: purple;
  border: 2px solid white;
  border-radius: 50%;
}

.property-type-link {
  text-decoration: none;
  color: black;
}

.pending-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 1020px) {
  .card-row {
    display: flex;
    flex-direction: column;
  }
  .home-card {
    margin-top: 20px;
  }
}